body{ background-color: #393E46;}
h1{color: #4ECCA3;
    text-align: center;
    font-size: 100px; 
 }    

button{background-color: #393E46;
       font-size: large;
       color:  aquamarine;;
       margin-top: 100px;}

#winer{ padding-top: 80px;}
